/*Modal*/
.modal{
	display:none;
	position: fixed;
	width: 90%;
    max-width: 800px;
	background-color: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
	z-index:1000;
}
.modalContent{
	position: relative;
}
.modalTitle{
	position: relative;
	margin: 16px 24px 16px 24px;
	font-size: 18px;
	font-weight: 600;
}
.modalText{
	position: relative;
	margin: 0 24px 16px 24px;
}
.modalOptions{
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	text-align: right;
}
.modalButton{
	position: relative;
	text-align: center;
	width: 48px;
	height: 32px;
	margin-bottom: 12px;
	line-height: 32px;
	color: rgba(0,0,0,0.3);
}
.modalButton.recommand{
	color: #e91e63;
}
code{
	border: 0px solid #dadada;
    border-radius: 4px;
    color: #E91E63;
    line-height: 1;
    font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    text-align: center;
    font-size: 80%;
    padding: 2px 10px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}
.modalmask{
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:900;
}